
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            color: #333;
        }
        .nav {
            background-color: #ff0000;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .nav a {
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: bold;
            margin-right: 1rem;
        }
        .nav button {
            background-color: #ff0000;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            font-size: 1rem;
        }
        .nav button:hover {
            background-color: #b80000;
        }
        .conteudo, .calculadora {
            margin: 2rem auto;
            padding: 1rem;
            max-width: 800px;
            background: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .equacao, .ponto, .reta {
            margin-bottom: 2rem;
        }
        input {
            padding: 0.5rem;
            margin: 0.5rem;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        button {
            background-color: #ff0000;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #b80000;
        }
        #geral, #reduzida, #verificacaoponto, #verificacaoreta {
            margin-top: 1rem;
            padding: 1rem;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        h1, h2 {
            color: #ff0000;
        }
        .circunferencia{
            width: 354px;
            height: 363.8px;
        }
        .legenda{
            line-height: 25px;
        }
        .bold{
            font-weight: bold;
        }
